.container-wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 280px - 57px - 36.5px);
}

@media (min-width: 640px) {
  .container-wrapper {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container-wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container-wrapper {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container-wrapper {
    max-width: 1280px;
  }
}
