.container-wrapper {
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 280px - 57px - 36.5px);
}

@media (min-width: 640px) {
  .container-wrapper {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container-wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container-wrapper {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container-wrapper {
    max-width: 1280px;
  }
}

.product__price {
  position: relative;
  .product__price--discount {
    position: absolute;
    background: url(/src/assets/images/discount.svg) 50% no-repeat;
    height: 31px;
    left: -15px;
    top: -1px;
    width: 80px;
    border-radius: 3px;
    margin: 0 0 10px 10px;

    .product__price--discount-detail {
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      margin: 5px 0 0;
      text-align: center;
      width: 100%;
    }
  }
}

.user_table {
  .ant-switch:not(.ant-switch-disabled) {
    background-color: rgba(0, 0, 0, 0.45);
  }
  .ant-switch.ant-switch-checked:not(.ant-switch-disabled) {
    background: #4096ff;
  }
}
